<!DOCTYPE html>
<html lang="en">
<head>
    <title>App | FactoryFour</title>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://static.factoryfour.com/factoryfour/favicons/apple_touch_icon.png">
    <link rel="icon" type="image/png" href="https://static.factoryfour.com/factoryfour/favicons/favicon_32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://static.factoryfour.com/factoryfour/favicons/favicon_16x16.png" sizes="16x16">
    <link rel="manifest" href="https://static.factoryfour.com/factoryfour/favicons/manifest.json">
    <link rel="mask-icon" href="https://static.factoryfour.com/factoryfour/favicons/safari_pinned_tab.svg" color="#000000">

    <link href="https://static.factoryfour.com/factoryfour/app/icons.css" rel="stylesheet">
    <style rel="stylesheet" type="text/css" data-aphrodite-factoryfour></style>
    <style>
        html, body
    </style>
</head>
<body>
<div id="app"></div>
<script src="<%= bundle %>" type="text/javascript"></script>
</body>
</html>
